/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: url("/static/img/background.jpg") no-repeat center center fixed;
    background-size: cover; /* makes the image cover the whole screen */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Centered Card */
.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
}

input:focus {
    border-color: #023e8a;
}

button {
    width: 100%;
    padding: 12px;
    background: #023e8a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background: #0069f1;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

p a {
    color: #6C63FF;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

/* -------------------- Input with Icon -------------------- */
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px 40px 12px 40px; /* left padding for icon */
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
}

.input-group input:focus {
    border-color: #6C63FF;
}

/* Icon inside input */
.input-group .icon {
    position: absolute;
    top: 50%;
    left: 12px;  /* space from left */
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
    pointer-events: none; /* para hindi ma-click ang icon */
}

/* Password toggle icon */
.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.toggle-password:hover {
    color: #6C63FF;
}

.flash-messages .alert {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.flash-messages .alert-success {
    background-color: #d4edda;
    color: #155724;
}

.flash-messages .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}


/* Fade in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
